@use "sections";
@import "mixin";
@import "variables";

nav {
  @include estilos-nav;
}
body {
  background-color: $backgroundColor;

  header {
    color: $titleColor;
    width: 100%;
    h1 {
      font-style: italic;
      text-align: center;
    }
  }
}
